@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #6d597a;
  margin: 0;
  font-family: "Lato", sans-serif;
}

header {
  background: #355070;
  display: grid;
  grid-template-columns: 150px auto;
}
header #logo__link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
header .logo {
  width: 80px;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 35px;
}
header nav a:hover, header nav a.active {
  background: #6d597a;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  line-height: 2em;
}
#hero-msg h4 {
  margin-top: 30px;
  color: white;
}
#hero-msg .button-box {
  margin-top: 20px;
}
#hero-img {
  width: 100%;
}

.home-title {
  font-size: 2em;
  margin-top: 10px;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.home-grid .card-img,
.home-grid .mountains {
  width: 100%;
}
.home-grid .rivers-card {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-grid .camping-card {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-grid .rapids-card {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-grid #background {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 9;
}
.home-grid .mountains {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
  box-shadow: 5px 5px 10px #6f7364;
}
.home-grid .rivers-card,
.home-grid .camping-card,
.home-grid .rapids-card {
  margin: 200px 0;
}
.home-grid .rivers-card .card-img,
.home-grid .camping-card .card-img,
.home-grid .rapids-card .card-img {
  border: 10px solid #b56576;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.home-grid .rivers-card .card-img:hover,
.home-grid .camping-card .card-img:hover,
.home-grid .rapids-card .card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.home-grid .icon {
  width: 80px;
  padding-top: 10px;
}
.home-grid #background {
  height: 725px;
}
.home-grid .msg {
  background: #6d597a;
  line-height: 1.5em;
  padding: 35px;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
  box-shadow: 5px 5px 10px #6f7364;
}
.home-grid .msg p {
  font-size: 0.8em;
  padding-bottom: 15px;
}
.home-grid .msg h2 {
  color: #FFFFFF;
}
.home-grid .msg .join {
  background: #FFFFFF;
  color: #355070;
}
.home-grid .msg .join:hover {
  background: #355070;
  color: #FFFFFF;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

.book,
.join {
  border-radius: 5px;
  font-size: 18px;
  background: #6d597a;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  transition: 0.3s;
}
.book:hover,
.join:hover {
  background: #b56576;
}

#background {
  background: #355070;
}

.services {
  background: #fafafa;
  padding: 40px 10%;
}
.services,
.services * {
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .services {
    padding: 40px 10px;
  }
}
.services h1, .services__subtitle {
  text-align: center;
}
.services__subtitle {
  font-size: 20px;
  line-height: 2em;
  margin-top: 30px;
}
.services__catalog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-bottom: 40px;
}
.services .service__info {
  width: 30%;
  background: white;
  filter: drop-shadow(8px 8px 10px #808080);
  border-radius: 10px;
  padding: 30px;
  transition: 0.3s;
}
@media screen and (max-width: 900px) {
  .services .service__info {
    margin-top: 20px;
    width: 45%;
  }
}
@media screen and (max-width: 650px) {
  .services .service__info {
    width: 90%;
  }
}
.services .service__info--rivers {
  transform: rotate(3deg);
}
.services .service__info--rapids {
  transform: rotate(-3deg);
}
.services .service__info h2 {
  text-align: center;
  margin-top: 15px;
}
.services .service__info p {
  text-align: justify;
  margin-bottom: 0;
}
.services .service__img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

footer {
  background: #355070;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  color: #b56576;
  font-size: 1.2em;
}
footer p a {
  color: #FFFFFF;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
    display: block;
    height: auto;
  }
  nav, footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }
  .home-grid .rivers-card,
  .home-grid .camping-card,
  .home-grid .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  .home-grid .mountains, .home-grid .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  #background {
    display: none;
  }
  footer {
    margin-top: 25px;
  }
}
